<div class="bodies">

  <h1><%= @user.name %>のページ</h1>

  <p>メールアドレス: <%= @user.email %></p>

  <h2>タスク一覧</h2>

  <%= render "tasks/index", tasks: @tasks %>

  <%= link_to 'プロフィール編集', edit_user_path(@user), class: "btn btn-outline-primary" %>

</div>
